<div class="w3l_banner_nav_right">
  <!-- login -->
  <div class="w3_login">
    <h3>Sign In & Sign Up</h3>
    <div class="w3_login_module">
      <div class="module form-module">
        <div class="toggle">
          <i class="fa fa-times fa-pencil"></i>
          <div class="tooltip">Click Me</div>
        </div>
        <div class="form">
          <h2>Login to your account</h2>
          <div [ngClass]="{ 'alert alert-danger': userErrorStatus }">
            {{ userMessage }}
          </div>
          <form [formGroup]="loginForm" (submit)="doLogin()">
            <input
              type="text"
              formControlName="Username"
              placeholder="Username"
              required=" "
              autoComplete="off"
            />
            <input
              type="password"
              formControlName="Password"
              placeholder="Password"
              required=" "
              autoComplete="off"
            />
            <input type="submit" value="Login" />
          </form>
        </div>
        <div class="form">
          <h2>Create an account</h2>
          <div class="alert-message-container" *ngIf="userMessage">
            <div
              class="alert-message-item alert"
              [ngClass]="{
                'alert-success': !userErrorStatus,
                'alert-danger': userErrorStatus
              }"
            >
              {{ userMessage }}
            </div>
          </div>
          <form
            (submit)="doRegistration(formTemplateRef)"
            #formTemplateRef="ngForm"
          >
            <input
              type="text"
              name="Username"
              ngModel
              placeholder="Username"
              required=" "
            />
            <input
              type="password"
              name="Password"
              ngModel
              placeholder="Password"
              required=" "
            />
            <input
              type="email"
              name="Email"
              ngModel
              placeholder="Email Address"
              required=" "
            />
            <input
              type="text"
              name="Phone"
              ngModel
              placeholder="Phone Number"
              required=" "
            />
            <input type="submit" value="Register" />
          </form>
        </div>
        <div class="cta"><a href="#">Forgot your password?</a></div>
      </div>
    </div>
  </div>
  <!-- //login -->
</div>
<div class="clearfix"></div>
