<!-- newsletter -->
<div class="newsletter">
  <div class="container">
    <div class="w3agile_newsletter_left">
      <h3>sign up for our newsletter</h3>
    </div>
    <div class="w3agile_newsletter_right">
      <form action="#" method="post">
        <input
          type="email"
          name="Email"
          value="Email"
          onfocus="this.value = '';"
          onblur="if (this.value == '') {this.value = 'Email';}"
          required=""
          [disabled]="true"
        />
        <input type="submit" value="subscribe now" routerLink="comingsoon/Newsletter"/>
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //newsletter -->
<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="col-md-3 w3_footer_grid">
      <h3>information</h3>
      <ul class="w3_footer_grid_list">
        <li><a routerLink="comingsoon/Events">Events</a></li>
        <li><a routerLink="comingsoon/About us">About Us</a></li>
        <li><a routerLink="comingsoon/Best deals">Best Deals</a></li>
        <li><a routerLink="comingsoon/Services">Services</a></li>
      </ul>
    </div>
    <div class="col-md-3 w3_footer_grid">
      <h3>policy info</h3>
      <ul class="w3_footer_grid_list">
        <li><a routerLink="comingsoon/FAQ">FAQ</a></li>
        <li><a routerLink="comingsoon/Privacy policy">privacy policy</a></li>
        <li><a routerLink="comingsoon/Terms of use">terms of use</a></li>
      </ul>
    </div>
    <div class="col-md-3 w3_footer_grid">
      <h3>what in stores</h3>
      <ul class="w3_footer_grid_list">
        <li><a routerLink="comingsoon/Pet food">Pet Food</a></li>
        <li><a routerLink="comingsoon/Frozen snacks">Frozen Snacks</a></li>
        <li><a routerLink="comingsoon/More kitchen items">Kitchen</a></li>
        <li><a routerLink="comingsoon/More branded foods">Branded Foods</a></li>
        <li><a routerLink="comingsoon/More household items">Households</a></li>
      </ul>
    </div>
    <div class="col-md-3 w3_footer_grid">
      <h3>twitter posts</h3>
      <ul class="w3_footer_grid_list1">
        <li>
          <label class="fa fa-twitter" aria-hidden="true"></label
          ><i>01 day ago</i
          ><span
            >Richard says "Shopping cart has great deals. Must check out."</span
          >
        </li>
        <li>
          <label class="fa fa-twitter" aria-hidden="true"></label
          ><i>02 day ago</i
          ><span
            >Shuba says "Saved INR 1000 yesterday. Have recommended it to my
            friends."</span
          >
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="agile_footer_grids">
      <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
        <div class="w3_footer_grid_bottom">
          <h4>100% secure payments</h4>
          <img src="assets/images/card.png" alt=" " class="img-responsive" />
        </div>
      </div>
      <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
        <div class="w3_footer_grid_bottom">
          <h5>connect with us</h5>
          <ul class="agileits_social_icons">
            <li>
              <a routerLink="comingsoon/Facebook" class="facebook"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a routerLink="comingsoon/Twitter" class="twitter"
                ><i class="fa fa-twitter" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a routerLink="comingsoon/Google plus" class="google"
                ><i class="fa fa-google-plus" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a routerLink="comingsoon/Instagram" class="instagram"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a routerLink="comingsoon/Dribbble" class="dribbble"
                ><i class="fa fa-dribbble" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="wthree_footer_copy">
      <p>
        © 2016 Grocery Store. All rights reserved | Design by
        <a href="http://w3layouts.com/">W3layouts</a>
      </p>
    </div>
  </div>
</div>
<!-- //footer -->
